.signup-main-container {
    text-align: center;
    margin-top: 34px;
}
.signup-logo {
    height: 100px;
}

.policy {
    text-align: left;
    padding-left: 14px;
    padding-right: 12px;
}
.policy p {
    width: auto;
    color: #777;
    font-size: 11px;
    margin: 7px 0;
}
.policy a{
    cursor: pointer;
    color: #385898;
    text-decoration: none;
}
.policy a:hover {
    text-decoration: underline;
}
button.signup-button {
    padding: 10px 0px;
    font-size: 18px;
    font-weight: bold;
    background: linear-gradient(#578843, #79bc64);
}
button.signup-button:hover {
    background: linear-gradient(#79bc64, #578843);
}
.to-login {
    padding-top: 5px;
    font-size: 17px;
}
.to-login a {
    color: #1877f2;
    text-decoration: none;
}