p.commentsCount:hover,
p.likesCount:hover {
    text-decoration: underline;
    cursor: pointer;
}

div.postUploadBox {
    width: 400;
}
.userPostName:hover {
    text-decoration: underline;
    cursor: pointer;
}