.imageupload__container {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    box-shadow: 0px 2px 5px rgb(0 0 0 / 30%);
    border-radius: 10px;
    margin-top: 80px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 42%;
    position: sticky;
}

.imageupload.none {
    display: none;
}

.postArea{
    display: flex;
}

.postArea input {
    background-color: #f0f2f5;
    width: 80%;
    outline: none;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 13px 10px;
    font-size: 17px;
    color: #000;
    border-radius: 30px;
    cursor: pointer;
}
.postArea input:hover {
    background-color: #e8ebec;
}
.postArea input::-webkit-input-placeholder {
    font-size: 17px;
    color: #7a7c7e;
}

.Avatar {
    border-radius: 200px;
    height: 46px;
    width: 46px;
    margin: 10px;
}
.options {
    display: flex;
    width: auto;
    max-width: fit-content;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
.liveVideoIcon1 {
    background-image: url('../images/liveVideo.png');
    height: 24px;
    aspect-ratio: 1;
}
.photoIcon1 {
    background-image: url('../images/photos_vids.png');
    height: 24px;
    aspect-ratio: 1;
}
.feelingIcon1 {
    background-image: url('../images/mood.png');
    height: 24px;
    aspect-ratio: 1;
}
.liveVideo, .photo, .feeling {
    display: flex;
    text-align: center;
    transition: 0.2s ease-out;
    padding: 0 12px;
    margin-left: 5px;
}

.liveVideo > h2, .photo > h2, .feeling > h2 {
    font-size: 15px;
    color:#b0b3b8;
    padding: 13px;
    white-space: nowrap;
}

.liveVideo > i, .photo > i, .feeling > i {
    margin-top: 10px;
}
.liveVideo:hover, .photo:hover, .feeling:hover {
    background-color: #f0f2f5;
    border-radius: 7px;
}
.imageupload__container > .hr {
    margin-left: 8px 16px;
    width: auto;
    border-bottom: 2px solid #d8dddf;
}

.makeStyles-paper-1 {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: none;
    margin-left: 10px;
    overflow-x: hidden;
}

.modalInit {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.makeStyles-paper-1 >.modalInit> h1{
    font-size: 22px;
    color: #000;
    text-align: center;
    margin: 17px 0;
    padding-left: 200px;
}
.modalInit .close {
    margin-left: 140px;
    margin-right: 10px;
}
.closeIcon {
    background-color: rgb(221, 216, 216);
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 200px;
    transition: 0.3s ease-out;
}
.closeModalIcon {
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yy/r/0Jnbw5eZF2B.png');
    background-position: -147px -84px;
    background-size: auto;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: -0.25em;
    margin: 10px;
}

.closeIcon:hover {
    background-color: rgb(199, 195, 195);
}

.hr2 {
    margin-bottom: 10px;
    border-bottom: 1px solid #d6d8da;
}
.profileHead {
    display: flex;
}

.profileHead h1 {
    font-size: 16px;
    color: #323233;
    font-weight: 600;
    margin: 0;
    margin-top: 23px;
}

.inputForUpload > textarea {
    margin-left: 10px;
    background-color: transparent;
    outline: none;
    width: 100%;
    border: none;
    font-size: 24px;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
    color: #1b1b1b;
}

.inputForUpload > textarea::-webkit-input-placeholder {
    color: #6e6e6e;
}

.inputForUpload > textarea::-webkit-scrollbar {
    width: 10px;
}
.colorAndEmoji {
    display: flex;
    gap: 82%;
    margin-top: 30px;
    margin-left: 6px;
}
.colorAlpha {
    height: 45px;
    width: 45px;
    cursor: pointer;
}
.emoji {
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yd/r/1Tdpzhn5Fju.png');
    background-position: 0px -70px;
    background-size: auto;
    background-repeat: no-repeat;
    display: inline-block;
    margin-top: 10px;
    height: 24px;
    width: 24px;
    cursor: pointer;
}
.publishOptions{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(128,128,128,0.5);
    border-radius: 6px;
    margin: 20px 20px 0 10px;
}

.publishOptions .left {
    padding: 17px;
}
.publishOptions .left h1 {
    font-size: 19px;
    font-weight:600;
    color: #2b2b2c;
}

.right {
    display: flex;
    gap: 10px;
    margin-right: 10px;
}
.Icon {
    margin-left: 5px;
    width: 26px;
    height: 26px;
    object-fit: cover;
}
.Icon:hover {
    cursor: pointer;
}

.moreIcon2 {
    height: 26px;
    width: 26px;
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yA/r/FjgFSs1gHmM.png');
    background-position: 0px -37px;
    background-size: auto;
    background-repeat: no-repeat;
    display: inline-block;
}

.postButton {
    background-color: #1258b4;
    color: #fff;
    font-size: large;
    font-weight: 600;
    outline: none;
    border: none;
    height: 43px;
    margin: 20px 20px 15px 10px;
    border-radius: 5px;
    cursor:pointer;
    transition: 0.4s ease-out;
}
.postButton:hover {
    background-color: #124c97;
}
.postButton.visible {
    display: block;
}

.postButton.disabled {
    background-color: #c5cacf;
    color: #9a9a9e;
    cursor: not-allowed;
}

.four {
    display: none;
}

.previewImage.vanish {
    display: none;
}

.previewImage {
    width: auto;
    margin: 0;
    margin-left: 10px;
}

.previewImaage {
    height: 100px;
    width: auto;
    border-radius: 10px;
}

.left > h1 {
    cursor: pointer;
}

progress {
    width: 90%;
    margin-left: 13px;
    margin-top: 10px;
}

.hidden {
    display: none;
}