.sidebarRow {
    display: flex;
    margin-left: 17px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-right: 160px;
    width: 90%;
    transition: 100ms ease-out;
    cursor:pointer;
}

.sidebarRow:hover {
    background-color: rgb(233, 227, 227);
    border-radius: 10px;
}

.sidebarRow__icon.avatar {
    border-radius: 200px;
}

.sidebarRow__icon {
    height: 36px;
    width: 36px;
    margin-left: 10px;
}

.sidebarRow__title {
    font-weight: 500;
    font-size: 15px;
    margin-top: 4px;
    color: #444546;
    margin-left: 10px;
}

.dropdown {
    display: none;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin-left: 5px;
    margin-top: 5px;
    -webkit-filter: invert(62%) sepia(98%) saturate(1%) hue-rotate(175deg) brightness(40%) contrast(96%);
}

.dropdown.display {
    display: block;
}

.dropdownDiv {
    display: none;
    margin-left: 10px;
    background-color: #c0c0c0;
    border-radius: 200px;
    width: 30px;
    height: 30px;
}

.dropdownDiv.display {
    display: block;
}

.sidebarRow__icon.vanish {
    display: none;
}