.sidebarRow2 {
    display: flex;
    flex-direction: row;
    margin-left: 16px;
    cursor: pointer;
    padding: 10px;
}

.sidebarRow2:hover {
    background-color: rgb(233, 227, 227);
    border-radius: 10px;
    width: 80%;
}

.avatar {
    height: 35px !important;
    width: 35px !important;
}

.sidebarRow2 h1 {
    color: #444546;
    font-size: 15px;
    font-weight: 500;
    margin-top: 8px;
    padding-left: 10px;
}