#sidebar1 {
    flex: 0.2;
    margin-top: 70px;
    width: 24%;
    position: fixed;
}

#sidebar1 .hr { 
    margin-left: 16px;
    margin-bottom: 10px;
    margin-right: 16px;
    margin-top: 8px;
    width: 100%;
    border-bottom: 1px solid #b9b9b9;
}

.policies {
    display: flex;
    color: #7d7f83;
    width: auto;
    margin-left: 16px;
    flex-wrap: wrap;
    margin-right: 16px;
    gap: 0.6px;
    margin-top: 30%;
}

.policies p, a {
    font-weight: 400;
    font-size: 13.5px;
    color: #7b7d81d5;
}
.policies a:hover{
    text-decoration: underline;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .sidebar {
        display: none;
    }
}