#navbar {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    width: 100%;
    height: 62px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    z-index: 1;
    top: 0;
}
  
.navbar-LogoAndSearch {
    display: flex;
    max-width: 25%;
}
  
.navbar__logo {
    width: 44px;
    margin-top: 10px;
    margin-left: 15px;
}
  
.navbar__search {
    background-color: #f2f3f2;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    margin: 10px 0;
    cursor: pointer;
    margin-left: 8px;
}
.searchIcon {
    align-items: center;
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-left: 13px;
    margin-top: 12px;
    color: rgb(63, 63, 63);
}
.navbar__searchBack {
    transition: 0.2s;
    border-radius: 50%;
    background-color: #f2f3f2;
    width: 40px;
    height: 40px;
    margin: 10px 0;
    cursor: pointer;
    margin-left: 10px;
    display: none;
}

.searchBackIcon {
    display: inline-block;
    height: 20px;
    color: gray;
    width: 20px;
    margin: 10px;
}
  
.searchBox {
    display: none;
    background: #f0f2f5;
    margin-top: 10px;
    margin-bottom: 10px;
    outline: none;
    padding: 10px;
    padding-left: 15px;
    border: none;
    border-radius: 20px;
    width: 250px;
    color: #fff;
    margin-left: 10px;
}
  
.home__search {
    vertical-align: -0.25em;
    height: 17px;
    margin-left: 12px;
    margin-top: 12px;
}
  
.selected {
    fill: #2d88ff ;
}
  
.navbar__pages {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 135px;
    max-width: 50%;
}
  
@media screen and (max-width: 1280px) {
    .navbar__pages {
        margin-left: 50px;
    }
}

.home, .friends, .market, .groups, .gaming {
    margin: 4px;
    padding: 6px 12px;
}

.home:hover, .friends:hover, .market:hover, .groups:hover, .gaming:hover {
    background-color: #f0f2f5;
    border-radius: 8px;
}
  
.PagesIcon {
    place-items: center;
    padding: 5px 22px;
    width: 60px;
    cursor: pointer;
    fill: #5d5d5e;
}

.navbar__otherIcons {
    display: flex;
    margin-right: 10px;
    justify-content: center;
    max-width: 25%;
}
.round {
    background-color: #f0f2f5;
    border-radius: 50%;
    width: 40px;
    margin-top:10px;
    cursor: pointer;
    margin-bottom: 12px;
    margin-left: 10px;
    transition: 0.2s;
}
.round:hover {
    background-color: #e6e3e3;
}
.addIcon, .messengerIcon, .notificationsIcon {
    fill: #070707;
    margin-top: 10px;
    margin-left: 10px;
}
  
.notificationsIcon.blue {
    fill: #2d88ff ;
}
  
.dropdownIcon {
    background-image: url('https://i.ibb.co/1zmBtwr/84241059-189132118950875-4138507100605120512-n.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 50px;
}
  
@media screen and (max-width: 600px) {
    .navbar__otherIcons, .market, .groups {
        display: none;
    }
  
    .dropdownIconspe {
        display: block ;
    } 
}
  
.dropdownIcon.spe {
    display: none;
}
  
.round {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    width: 345px;
    margin-left: -300px;
    margin-top: 10px;
    border-radius: 10px;
}
  
.dropdown-content.block {
    display: block;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 320px;
    margin-left: -300px;
    z-index: 1;
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px;
}
  
.dropdown-content2 {
    display: none;
    position: absolute;
    background-color: rgb(233, 227, 227);
    width: 345px;
    margin-left: -240px;
    margin-top: 70px;
    padding-left: 10px;
    padding-top: 10px;
    overflow-y: scroll;
    height: fit-content;
    max-height: 450px;
    border-radius: 10px;
    min-height: 200px;
}
  
.dropdown-content3{
    display: none;
    position: absolute;
    background-color: rgb(233, 227, 227);
    width: 295px;
    margin-left: 0px;
    margin-top: 50px;
    padding-left: 10px;
    padding-top: 10px;
    overflow-y: scroll;
    height: fit-content;
    max-height: 450px;
    border-radius: 10px;
    min-height: 200px;
}
  
.dropdown-content3::-webkit-scrollbar {
    display:none;
}
  
.dropdown-content3 {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
  
.noNotifDiv img {
    filter: invert(100%);
    height: 100px;
    margin-left: 20px;
}
.dropdown-content2::-webkit-scrollbar {
    width: 8px;
}
  
/* Track */
.dropdown-content2::-webkit-scrollbar-track {
    border-radius: 10px;
}
   
/* Handle */
.dropdown-content2::-webkit-scrollbar-thumb {
    background: #d4d1d170;
    border-radius: 10px;
}
  
.dropdown-content2 h1 {
    color: rgba(0, 0, 0, 0.945);
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}
  
.dropdown-content2.block {
    display: block;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 25%;
    z-index: 1;
    padding: 16px;
    margin-left: -240px;
    margin-top: 67px;
    border-radius: 10px;
}
  
.dropdown-content a {
    color: #fff;
    padding: 8px 12px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content2 a {
    color: #fff;
    padding: 8px 12px;
    text-decoration: none;
    cursor: pointer;
    display: block;
}
  
.dropdown-content a:hover,
.dropdown-content2 a:hover {
    border-radius: 10px;
    background-color: #f0f2f5
}
  
.optionDrop {
    display: flex;
    cursor: pointer;
}
  
.optionDrop h1 {
    font-size: 17px ;
    font-weight: 600;
    color: #4a4a4d;
    cursor: pointer;
    margin-left: 16px;
}
  
.dropdownIcon.blue {
    -webkit-filter: invert(40%) sepia(52%) saturate(200%) saturate(200%) saturate(200%) saturate(189%) hue-rotate(191deg) brightness(103%) contrast(102%);
}
  
.iconDrop {
    background-color: #f0f2f5;
    padding: 10px;
    border-radius: 30px;
}
  
.optionDrop h1 {
    margin-top: 7px;
}
  
.settings {
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yf/r/48gAZBHmRYi.png');
    background-size: auto;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: -0.25em;
    color: #070707;    
    height: 20px;
    width: 20px;
    background-position: -63px -105px;
}
.darkMode {
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/ym/r/CK6LPi7oEYl.png');
    background-position: 0 -172px;
    background-size: auto;
    background-repeat: no-repeat;
    vertical-align: -0.25em;
    display: inline-block;
    color: #070707;
    height: 20px;
    width: 20px;
}
.logout {
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yV/r/9zxP3eMgEJY.png');
    background-position: 0 -696px;
    background-size: auto;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: -0.25em;
    color: #070707;
    height: 20px;
    width: 20px;
}
.hr {
    margin-left: 16px;
    margin-bottom: 10px;
    margin-right: 16px;
    margin-top: 8px;
    border-bottom: 2px solid #3E4042;
}
  
.Avatar {
    border-radius: 200px;
    height: 40px;
    width: 40px;
    margin: 10px;
}
  
.sideinfoDropAvatar {
    display: flex;
    flex-direction: column;
}
  
.sideinfoDropAvatar > h1 {
    font-size: 17px ;
    font-weight: 600 ;
    color: #e4e6eb ;
    margin: 0 ;
    margin-top: 10px ;
}
  
.sideinfoDropAvatar p {
    font-size: 17px;
    font-weight: 600;
    margin-top: 21px;
    color: #149cf7;
}
  
.announcementInfo {
    display: flex;
    flex-direction: row;
}
  
.announcementInfo h1 {
    font-size: 15px;
    font-weight: 700;
}
  
.announcementInfo span {
    font-weight: 400 ;
}
  
.announcement {
    cursor:pointer;
}
  
.NoNotif {
    font-size: 13px ;
    font-weight: 400 ;
}

ul {
    list-style-type: none;
    margin-top: 10px;
}
  
ul li {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    margin-left: -30px;
    padding: 10px;
    margin-right: 10px;
    border-radius: 20px;
    cursor: pointer;
}
  
.searchAvatar {
    margin-right: 10px;
}
  
ul li h3 {
    color: white;
    font-size: 15px;
    font-weight: 500;
    margin-top: 10px;
}
  
ul li:hover {
    background-color: #282A2C
}
  
ul li a {
    display: flex;
    flex-direction: row;
    text-decoration: none;
}
  
.round.profile {
    display: flex ;
    flex-direction: row ;
    width: 50%;
}
  
.round.profile a {
    display: flex ;
    flex-direction: row ;
}
  
.round.profile a p {
    color: #448BE7;
    font-size: 15px;
    font-weight: 500;
    margin-top: 10px;
    margin-left: 10px;
}
  
  
.ProfileAvatar {
    width: 30px ;
    height: 30px ;
    margin-top :5px;
    margin-left: 3px;
}
  
@media screen and (max-width: 1280px) {
    .round.profile {
        display: none ;
        flex-direction: row ;
    }
}