.pages{
    display: flex;
    margin-bottom: 150px;
}

.pagesWrapper{
    flex: 4;
}

.pageCover{
    height: 320px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.pageCoverImg{
    width: 80%;
    height: 320px;
    object-fit: cover;
    border-radius: 0 0 10px 10px;
}